.color-info-light {
  color: #77deee !important;
}

.color-orange {
  color: $orange !important;
}

.color-facebook {
  color: $facebook !important;
}

.color-twitter {
  color: $twitter !important;
}
